body {
    background-color: greenyellow;
}
#score{
    font-size: 30;
    font-weight: bold;
    margin-right: 1200px; 
}
#timer{
    font-size: 30;
    font-weight: bold;
    margin-left: 1200px; 
}
#sketchToBeDrawn {
    font-size: 30;
    font-weight: bold;
    color:orangered;
}